* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: peachpuff;
}

    header {
      background-color: white;
      color: black;
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
      position: sticky;

    }

    .logo {
      font-size: 40px;
      font-weight: bold;
      color:black;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
      position: fixed;
      position: relative;
    }

    nav ul li a {
      color: black;
      text-decoration: none;
      font-weight: 500; 
    }

    nav ul li a:hover {
      color: grey;
    }

.about-section {
  padding: 40px 20px;
  background-color: #ffffff;
  max-width: 800px;
  margin-top: 30px;
  margin-left: 350px;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.about-container h2 {
  font-size: 30px;
  color:black;
  border-bottom: 1px solid black;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  
}

h2{
  margin-top: -20px;
  margin-bottom: 30px;
}

.bio {
  margin-bottom: 20px;
  font-size: 18px;
}

.about-container h3 {
  font-size: 20px;
  margin-bottom: 50px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
}

.skills-list li {
  background-color: #e0f0ff;
  color: black;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

p{
  padding: 10px;
}

